body {
  width: 500px;
  font-family: sans-serif;
  font-size: 14px;
  background-color: #feffef;
  color: #800000;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

legend.category-title {
  font-size: 1rem;
  width:inherit;
  padding:0 10px;
  margin-top: -22px;
  border-bottom:none;
}

.text-color-mebuki {
  color: #800000;
}

.bg-head-thread {
  background-color: #F0E0D6;
}

.bg-head-bouyomi {
  background-color: #ddddff;
}

.bg-head-stream {
  background-color: #feedd0;
}

.form-group {
  margin-bottom: 12px;
}

.form-group label,
.form-group input {
  display: block;
  width: 95%;
  margin-bottom: 4px;
}

.form-group input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-right: 5px;
}

.form-group label {
  font-weight: 500;
}

.form-group input[type="text"],
.form-group input[type="number"] {
  box-sizing: border-box; /* paddingを含めてwidth 95%にする */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input[disabled] {
  background-color: #eee;
}

.form-group small {
  display: block;
  font-size: 12px;
  color: #555;
  margin-top: 2px;
}

.form-group-inline input[type="checkbox"] {
  margin-right: 5px;
}
.form-group-inline label {
  display: inline-block;
  width: auto;
  margin-right: 15px;
}

h3 {
  font-size: 1.1em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
  margin-top: 15px;
}